
.event-list {
  display: flex;
  flex-direction: column;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  gap: 1rem;
  padding: 1rem;
  background-color: #f6f6f6;
  width: -webkit-fill-available;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.event-item h2 {
  color: #333;
  margin-bottom: 0.5rem;
}

.event-item button {
  margin: 5px;
}

.organizer {
  margin-top: 1rem;
  border-top: 1px solid #e0e0e0;
  padding-top: 0.5rem;
}

.organizer p {
  margin: 0.25rem 0;
}